#top-menu{

    display: flex ;
    flex-direction:  column ;
    /* border: 1mm solid black; */
    align-items: stretch;
    /* overflow-x: auto; */
    justify-content: space-between;
    border: 1mm solid black;
    background-color: cadetblue;
    border-radius: 20px;
    position: sticky;
    top: 20px;
}

#iic{
    position: relative;
    bottom: 0%;
    
    
    /* left: 20px;
    top: 20px; */
 
    width: 20%;
    /* border:1mm solid blue; */
    border-radius: 5px;
}
#iit{
    position: relative;
    width: 15%;
    border-radius: 10%;
    bottom:0%;
    right: 0;
    float:right;
}

#expand-link{
    z-index: 6;
    
}
.hyperlinks{
    border: 0.3mm solid blueviolet;
    margin: 2px;
    border-radius: 3px;
    background-color:lightyellow;
    padding-left: 2mm;
    padding-right: 2mm;
}

.flex-item{
    width: 100%;
    /* border: 0.5mm solid green; */
    display: flex;
    align-items: baseline;
    margin: 5px;
    padding: 2px;
    flex-direction: row;
    justify-content: center;
    min-width: 100px;
    flex-wrap: wrap;
    
}
#LINKS{
   left: 20px;
    
}
#maincontentarea{
    margin-top: 40vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 20% !important;
    margin-bottom: 100vh;
}